<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<table border="1" cellpadding="0" cellspacing="1" class="registrationCard-print-table">
    <tbody>
    <tr>
        <td  class="print-table-left">
            <table>
                <tr>

                    <td>
                        <h3 class="print-table-header">सूचना</h3>
                        <ul class="print-table-left-body">
                            <li>
                                It is very important to bring this card when you re-enter the health center.

                            </li>
                            <li>
                                Take the medicine according to the doctor's instructions.

                            </li>
                            <li>
                                Time of registration at the center - from 8:30 am to noon 12:00.

                            </li>
                            <li>
                                O.P.D. Day - Mon, Wed, Fri.

                            </li>
                            <li>
                                Weekly holidays - Sunday.

                            </li>
                        </ul>
                        <div class="caution">
                            <h3 class="print-table-header">Careful</h3>
                            <p>
                                BD, tobacco, gutkha can lead to cancer, heart disease and asthma.

                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td class="print-table-right" valign="top">
            <table>
                <tr>
                    <td class="logo">
                        <p>
                            <img src="/bahmni_config/openmrs/apps/registration/registrationCardLayout/images/bahmni-icon.png" style="width: 12mm; height: 12mm; "/>
                        </p>
                    </td>
                    <td class="print-table-right-header">
                            <h3>
                                Public & nbsp; Health & nbsp; Collaboration

                            </h3>
                            <h3 class="print-center">(पंजीकृत)</h3>
                    </td>
                    <td class="registrationCard-photo">
                        <img ng-src="{{patient.image}}" style="width: 20mm; height: 20mm; "
                             onerror="this.onerror=null;this.src='../images/blank.jpeg';"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="print-center registrationCard-location">
                       Kwadaso District -  Kumasi
                    </td>
                </tr>
            </table>
            <table class="registrationCard-details">
                <tbody>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Date</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.registrationDate | bahmniDate}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Registration</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.primaryIdentifier.identifier}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Name</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>
                        <span class="hindi-text">{{patient.fullNameLocal()}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Age</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.age | age}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Gender</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.gender}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Primary Relative</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.primaryRelative}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Address</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.address.cityVillage}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">Kumasi</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.address.address3}} </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<div class="print-wrapper registration-print-summary">
    <link rel="stylesheet" href="../styles/registrationPrint.css" media="all"/>
    <section class="block observation dashboard-section">
        <bahmni-diagnosis patient-uuid="::patient.uuid"
                          config='{"title": "Diagnosis","type": "diagnosis"}'></bahmni-diagnosis>
    </section>
    <section class="block observation dashboard-section">
        <bahmni-observation patient="patient" config="{conceptNames: ['Vitals']}" section-title="'Vitals'">

        </bahmni-observation>
    </section>
</div>