<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/supplementalPaperLayout/css/print.css"/>
<div>
    <style>
    </style>
    <div class="row">
        <div class="left">
            <span class="label">OPD No .:</span>
            <span></span>
        </div>
        <div class="right">
            <span class="label">date:</span>
            <span>{{today | date:'dd/MM/yyyy'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <span class="label">Register No .:</span>
            <span>{{patient.primaryIdentifier.identifier}}</span>
        </div>
        <div class="right">
            <span class="label">village:</span>
            <span>{{patient.address.cityVillage}}</span>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <span class="label">Name:</span>
            <span>{{patient.fullNameLocal() || patient.name}}</span>
        </div>
        <div class="right">
            <span class="label">District:</span>
            <span>{{patient.address.countyDistrict}}</span>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <span class="label">Primary Relative</span>
            <span>{{patient.primaryRelative}}</span>
        </div>  
        <div class="right">
            <span class="label">Age:</span>
            <span>{{patient.age.years || "0"}}</span>
            <span ng-show="patient.gender">/ {{patient.gender}}</span>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <span class="label">Weight:</span>
            <span>{{obs.WEIGHT}}</span>
        </div>
    </div>
</div>